In [3]:
import pandas as pd
import numpy as np
import math
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

idx = df.index[df['X']].tolist()

to_zero = [(idx[i::-1]+[0]).index(0) for i in range(len(idx))]

print(to_zero)

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

# create a range of dates for the year 2015

In [13]:
set_date_range = pd.date_range('20150101', periods=365)
df = pd.DataFrame(np.random.randint(999,size=365),index=np.arange(365),columns=list('A'))
df['My_Dates'] = pd.to_datetime(set_date_range)
df['Day_Of_Week'] = df['My_Dates'].dt.weekday_name
df['Month_Of_Year'] = df['My_Dates'].dt.month
import calendar
df['Month_Of_Year'] = df['Month_Of_Year'].apply(lambda x: calendar.month_name[x])

days_of_week_sum=df.groupby('Day_Of_Week')['A'].sum()
print("-------------------")
print("--- Sums by Day ---")
print("-------------------")
print(days_of_week_sum)

-------------------
--- Sums by Day ---
-------------------
Day_Of_Week
Friday       28245
Monday       24944
Saturday     24495
Sunday       27173
Thursday     30136
Tuesday      27805
Wednesday    24973
Name: A, dtype: int64

In [14]:
month_of_year_avg=df.groupby('Month_Of_Year')['A'].mean().round(decimals=2)

print("-------------------")
print("- Monthly Average -")
print("-------------------")
print(month_of_year_avg)

-------------------
- Monthly Average -
-------------------
Month_Of_Year
April        518.37
August       522.61
December     538.00
February     542.07
January      488.52
July         437.29
June         582.60
March        497.00
May          554.94
November     611.07
October      440.19
September    446.57
Name: A, dtype: float64

In [15]:
single_string_subset=df[df.Month_Of_Year == 'January'] 
mask_out = df[(~df['Month_Of_Year'].str.contains("January")) & (~df['Month_Of_Year'].str.contains("February")) & (~df['Month_Of_Year'].str.contains("March"))]
Tertile_One = df[df['Month_Of_Year'].str.contains("January|February|March|April")==True]
Tertile_Two = df[df['Month_Of_Year'].str.contains("May|June|July|August")==True]
Tertile_Three = df[df['Month_Of_Year'].str.contains("September|October|November|December")==True]
print("----------------------------------------------")
print("- The maximum value for the first tertile is -")
print("----------------------------------------------")
print(Tertile_One.loc[Tertile_One['A'].idxmax()])

----------------------------------------------
- The maximum value for the first tertile is -
----------------------------------------------
A                                986
My_Dates         2015-03-09 00:00:00
Day_Of_Week                   Monday
Month_Of_Year                  March
Name: 67, dtype: object

In [16]:

print("-----------------------------------------------")
print("- The maximum value for the second tertile is -")
print("-----------------------------------------------")
print(Tertile_Two.loc[Tertile_Two['A'].idxmax()])

-----------------------------------------------
- The maximum value for the second tertile is -
-----------------------------------------------
A                                984
My_Dates         2015-06-21 00:00:00
Day_Of_Week                   Sunday
Month_Of_Year                   June
Name: 171, dtype: object

In [18]:
print("----------------------------------------------")
print("- The maximum value for the third tertile is -")
print("----------------------------------------------")
print(Tertile_Three.loc[Tertile_Three['A'].idxmax()])
print("----------------------------------------------")

----------------------------------------------
- The maximum value for the third tertile is -
----------------------------------------------
A                                998
My_Dates         2015-09-04 00:00:00
Day_Of_Week                   Friday
Month_Of_Year              September
Name: 246, dtype: object
----------------------------------------------